In [13]:
import pandas as pd
import numpy as np
import os
import missingno as msno

In [ ]:
directory = "Output"

In [ ]:
#parent directory path

parent_dir = '/Users/edwardmendoza/Documents/GA/Projects/Project_5_shared/Edward/data'

path = os.path.join(parent_dir, directory)
os.mkdir(path)

In [3]:
df = pd.read_excel("./working_datasets/covid-19-prison-data-AL.xlsx")

In [6]:
all_files = [file for file in os.listdir('./working_datasets')]
all_files

['covid-19-prison-data-MI.xlsx',
 'covid-19-prison-data-OH.xlsx',
 'covid-19-prison-data-AL.xlsx',
 'covid-19-prison-data-WI.xlsx',
 'covid-19-prison-data-GA.xlsx',
 'covid-19-prison-data-CA.xlsx',
 'covid-19-prison-data-CT.xlsx',
 'covid-19-prison-data-MA.xlsx',
 'covid-19-prison-data-VT.xlsx',
 'covid-19-prison-data-DE.xlsx']

In [7]:
all_months_data = pd.DataFrame()

In [8]:
for file in all_files:
    df = pd.read_excel('./working_datasets/'+file)
    all_months_data = pd.concat([all_months_data, df])

In [10]:
all_months_data.to_csv("all_data.csv", index=False)

In [11]:
all_states = pd.read_csv("all_data.csv")

In [12]:
all_states.head()

,name,abbreviation,staff_tests,staff_tests_with_multiples,weekly_staff_cases,total_staff_cases,weekly_staff_recovered,staff_recovered,weekly_staff_deaths,total_staff_deaths,...,prisoner_tests_with_multiples,weekly_prisoner_cases,total_prisoner_cases,weekly_prisoners_recovered,prisoners_recovered,prisoner_deaths_weekly,total_prisoner_deaths,as_of_date,notes,weekly_cases
0,Michigan,MI,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,...,NaN,24.0,24.0,NaN,0.0,0.0,0.0,2020-03-26,NaN,NaN
1,Michigan,MI,NaN,NaN,25.0,25.0,NaN,0.0,1.0,1.0,...,NaN,98.0,122.0,NaN,0.0,1.0,1.0,2020-04-01,NaN,NaN
2,Michigan,MI,NaN,NaN,112.0,137.0,NaN,0.0,1.0,2.0,...,NaN,183.0,305.0,NaN,0.0,1.0,2.0,2020-04-08,NaN,NaN
3,Michigan,MI,NaN,NaN,44.0,181.0,NaN,0.0,0.0,2.0,...,NaN,176.0,481.0,NaN,0.0,11.0,13.0,2020-04-15,NaN,NaN
4,Michigan,MI,NaN,NaN,49.0,230.0,NaN,0.0,0.0,2.0,...,NaN,236.0,717.0,NaN,0.0,12.0,25.0,2020-04-22,NaN,NaN

In [14]:
all_states.isnull().sum().sum()

3250

In [15]:
df_p = all_states.drop(columns=['staff_tests', 'staff_tests_with_multiples', 'total_staff_cases', 'staff_recovered', 'total_staff_deaths', 'notes'])

In [16]:
df_s = all_states.drop(columns = ['prisoner_tests', 'prisoner_tests_with_multiples', 'total_prisoner_cases', 'prisoners_recovered', 'total_prisoner_deaths', 'notes'])

In [17]:
df_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   name                           448 non-null    object
 1   abbreviation                   448 non-null    object
 2   weekly_staff_cases             444 non-null    float64
 3   weekly_staff_recovered         344 non-null    float64
 4   weekly_staff_deaths            319 non-null    float64
 5   weekly_prisoner_tests          155 non-null    float64
 6   prisoner_tests                 249 non-null    float64
 7   prisoner_tests_with_multiples  174 non-null    float64
 8   weekly_prisoner_cases          362 non-null    float64
 9   total_prisoner_cases           447 non-null    float64
 10  weekly_prisoners_recovered     356 non-null    float64
 11  prisoners_recovered            388 non-null    float64
 12  prisoner_deaths_weekly         307 non-null    float64
 13  total_prisoner_deaths          446 non-null    float64
 14  as_of_date                     448 non-null    object
 15  weekly_cases                   35 non-null     float64
dtypes: float64(13), object(3)
memory usage: 57.0+ KB